*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.container{
    height: 155vh;
    /* border: 2px solid blue; */
   flex-direction: row;
   display: flex;
   flex-wrap: wrap;

}


/* STYLING FOR THE LEFT CONATINER STARTS HERE */
.left-container{
    /* border:  2px solid red; */
    height: 130vh;
    flex: 3;

}

.bg-image img{
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#group{
    /* border: 5px solid black; */
    position: absolute;
    top: 120px;
    left: 90px;
}

.left-one{
    display:flex;
}

.left-one h3{
     color: white;
    padding-left: 5vh;
    padding-top: 2vh;
}

.left-two{
    margin-bottom: 5vh;
}

.left-two h1{
    color: white;
}

span{
    border: 2px solid orange;
    background-color: orange;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    font-weight: lighter;
}

#mgps{
    color: white;
    margin-top: 2vh;
    font-weight: lighter;

}

.left-two p{
    border: 2px solid orange;
    width: 25vh;

}

form{

}

form h3{
    color: white;
    font-weight: bolder;
    padding-bottom: 15px;
}

label{
    color: white;
    font-weight: lighter;
}

input{
    height: 7vh;
    width: 80%;
    background-color: rgba(211, 211, 211, 0.281);
    border: 2px solid rgba(211, 211, 211, 0.186);
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

}

::placeholder{
    font-size: 12px;
    padding: 7px 0px 7px 10px;
    color: white;

}

#btn-one{
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.left-four img{
    margin-top: 50px;
}


/*************** STYLING FOR THE LEFT CONTAINER ENDS HERE */





/********************STYLING FOR THE RIGHT CONTAINER STARTS HERE */
.right-container{
border: 2px solid black;
height: 135vh;
flex: 3;
/* margin: 10vh 10vh 10vh 5vh; */
}
.holds-all{
    display: block;
    border: 6px solid black;
    height: 125vh;
    margin: 10px;
}
.right-one{
border: 2px solid red;
margin-top: 20px;
}
#portal{
color: black;
}
#seven{
    border: 2px solid green;
    background-color: green;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    font-weight: bolder;
    padding: 3px 8px;
}
#search{
    background-color: rgba(211, 211, 211, 0.397);
    border: 1px solid rgb(150, 143, 143);
   
}
.right-one ::placeholder{
    color: rgba(100, 94, 94, 0.727);
    padding-left: 20px;
    font-weight: bolder;
}





















.right-four{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 10vh;
    padding-top: 10px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    font-weight: bolder;
    font-style: normal;
}

.footer-one{
    float: left;
}
.footer-two{
    float: right;
    margin-left: 200px;
 }


ul{
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;

}
li{
    float: left;
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
}
 ul li a{
     color: black;
     text-decoration: none;
 }
.footer-two p{
font-size: 12px;
}
/******************** STYLING FOR THE RIGHT CONTAINER ENDS HERE */








































/* At responsive */
@media  (max-width: 850px) {
    .container{
        width: 100%;
        display: block;
        height: fit-content;
        
    }

    /* STYLING FOR THE LEFT CONTAINER STARTS HERE */
    .left-container{
        width: 100%;
        margin-bottom: 10vh;
        margin-left: 0vh;
        margin-right: 0vh;
        margin-top: 0vh;
        /* padding-left: 10px; */
        height: 115vh;
    }
    .bg-image img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 110vh;
        width: 100%;
        
     }
    #group{
        border: 5px solid black;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .left-one{
        display:flex;
    }
    
    .left-one h3{
        color: white;
        padding-left: 2vh;
        padding-top: 2vh;
        font-size: 16px;
    }

    .left-two h1{
        font-size: 18px;
    }
    span{
        border: 2px solid orange;
        background-color: orange;
        color: white;
        font-size: 9px;
        border-radius: 5px;
    
    }
    #mgps{
        color: white;
        margin-top: 2vh;
        font-size: 16px;
    }
    .left-two{
        margin-bottom: 3vh;
    }
    .left-two p{
        border: 2px solid orange;
        width: 20vh;
    }
    .left-four img{
        margin-top: 50px;
        width: 100%;
    }
    
    
    /* STYLING FOR THE LEFT CONTAINER ENDS HERE */







    /* STYLING FOR THE RIGHT CONTAINER STARTS HERE */

    .right-container{
        width: 100%;
        margin-left: 0vh;
        margin-right: 0vh;
        margin-top: 0vh;
    }




































































    

.right-four{
    border: 1px solid black;
    display: block;
    height: 10vh;
    padding-top: 10px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    font-weight: bolder;
    font-style: normal;
}

.footer-one{
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;


}
.footer-two{
    display: block;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    text-align: center;
 }


ul{
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;

}
li{
    text-align: center;
    text-decoration: none;

}
 ul li a{
     color: black;
     text-decoration: none;
     margin-left: 25px;
 }
.footer-two p{
    font-size: 12px;
}

    /* STYLING FOR THE RIGHT CONTAINER ENDS HERE */
}




